[Unit]
Description=VoidPhone Gossip module

[Service]
Type=simple
ExecStart=/usr/bin/java -Djava.util.logging.config.file=%h/repos/testing/logging.properties \
   -cp %h/repos/testing/dist/voip.jar gossip.Main \
   --config %h/repos/testing/config/bootstrap.conf
KillMode=process
StandardInput=null
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
Alias=gossip.service